body {
	font-family: arial;
	background:#E5E3E3;
}

footer {
   padding: 20px;
   color: white;
   background-color: #000000;
   font-family: century;
   text-align: center;
   font-size: 25px;
}
